.propeties-managment-style {
    width: 100%;
    padding: 15px;
}
.webcam-container-style {
    background-color: teal;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}